In [8]:
import os,sys; sys.path.insert(0,os.path.abspath('../../..'))
from epistolary import *

In [9]:
C=Epistolary()
C.init()

,testing,author,title,year,idref,pub,type,name,nation,medium,subcorpus,fn_raw
id,,,,,,,,,,,,
Eighteenth-Century_Fiction/richards.02,x,,,,,,,,,,,
_chadwyck/Eighteenth-Century_Fiction/richards.04,y,"Richardson, Samuel, 1689-1761",Pamela (1741),1741,Z200045357,"Printed for C. Rivington, in St. Paul's Church...",BOOK,Vol. 1,British,Fiction,Eighteenth-Century_Fiction,Eighteenth-Century_Fiction/richards.04.new
_chadwyck/Eighteenth-Century_Fiction/burney.01,,"Burney, Fanny, 1752-1840",Evelina (1778),1778,Z200000830,"Printed for T. Lowndes, [etc.]",BOOK,Vol. 1,British,Fiction,Eighteenth-Century_Fiction,Eighteenth-Century_Fiction/burney.01.new

In [10]:
t=C.texts()[-1]
t, t.source

(Burney, Fanny, 1752-1840, _Evelina (1778)_ (1778) [Epistolary: _chadwyck/Eighteenth-Century_Fiction/burney.01],
 Burney, Fanny, 1752-1840, _Evelina (1778)_ (1778) [Chadwyck: Eighteenth-Century_Fiction/burney.01])

In [11]:
t._meta, t.source._meta

({'testing': '', 'id': '_chadwyck/Eighteenth-Century_Fiction/burney.01'},
 {'author': 'Burney, Fanny, 1752-1840',
  'title': 'Evelina (1778)',
  'year': '1778',
  'idref': 'Z200000830',
  'pub': 'Printed for T. Lowndes, [etc.]',
  'type': 'BOOK',
  'name': 'Vol. 1',
  'nation': 'British',
  'medium': 'Fiction',
  'subcorpus': 'Eighteenth-Century_Fiction',
  'fn_raw': 'Eighteenth-Century_Fiction/burney.01.new',
  'id': 'Eighteenth-Century_Fiction/burney.01'})

In [15]:
# t = Text(id='_chadwyck/Eighteenth-Century_Fiction/burney.01')
# t.meta

In [17]:
# Chad=load('Chadwyck')
# Chad.init()
# Chad.meta

In [12]:
meta=Chad.load_metadata_file()

In [16]:


# def load_metadata_from_df_or_fn(idf,force=False,**attrs):
#     if type(idf)==str: idf=read_df(idf)
#     if idf is None or not len(idf): return pd.DataFrame()
#     #return df_requiring_id_and_corpus(idf,**attrs)
#     return df_requiring_id(idf,**attrs).fillna('')


# def df_requiring_id(df,idkey='id',fillna='',*x,**y):
#     if df is None or not len(df): return pd.DataFrame(columns=[],index=[]).rename_axis(idkey)
#     if df.index.name==idkey and not idkey in set(df.columns): df=df.reset_index()
#     if not idkey in set(df.columns): df[idkey]=''
#     df[idkey]=df[idkey].fillna('')
#     df[idkey]=[(idx if idx else f'X{i+1:04}') for i,idx in enumerate(df[idkey])]
#     df=df.fillna(fillna) if fillna is not None else df
#     df=df.set_index(idkey)
#     return df

Empty DataFrame
Columns: []
Index: [Eighteenth-Century_Fiction/paltock.01, Eighteenth-Century_Fiction/brookefm.02, Eighteenth-Century_Fiction/mackenzi.01, Eighteenth-Century_Fiction/cleland.01, Eighteenth-Century_Fiction/haywood.07, Eighteenth-Century_Fiction/johnston.01, Eighteenth-Century_Fiction/defoe.06, Eighteenth-Century_Fiction/richards.06, Eighteenth-Century_Fiction/smollett.05, Eighteenth-Century_Fiction/davys.03, Eighteenth-Century_Fiction/defoe.04, Eighteenth-Century_Fiction/sheridan.01, Eighteenth-Century_Fiction/walpole.01, Eighteenth-Century_Fiction/defoe.05, Eighteenth-Century_Fiction/defoe.07, Eighteenth-Century_Fiction/haywood.08, Eighteenth-Century_Fiction/lennox.01, Eighteenth-Century_Fiction/haywood.11, Eighteenth-Century_Fiction/fieldins.01, Eighteenth-Century_Fiction/smollett.04, Eighteenth-Century_Fiction/haywood.12, Eighteenth-Century_Fiction/defoe.08, Eighteenth-Century_Fiction/sheridan.02, Eighteenth-Century_Fiction/fieldinh.05, Eighteenth-Century_Fiction/burney.01, Eighteenth-Century_Fiction/swift.02, Eighteenth-Century_Fiction/manley.01, Eighteenth-Century_Fiction/brookefm.01, Eighteenth-Century_Fiction/haywood.05, Eighteenth-Century_Fiction/barker.01, Eighteenth-Century_Fiction/manley.05, Eighteenth-Century_Fiction/richards.04, Eighteenth-Century_Fiction/sterne.03, Eighteenth-Century_Fiction/manley.04, Eighteenth-Century_Fiction/reeve.01, Eighteenth-Century_Fiction/davys.01, Eighteenth-Century_Fiction/haywood.14, Eighteenth-Century_Fiction/fieldinz.01, Eighteenth-Century_Fiction/brookeh.01, Eighteenth-Century_Fiction/haywood.09, Eighteenth-Century_Fiction/aubin.05, Eighteenth-Century_Fiction/amory.01, Eighteenth-Century_Fiction/haywood.04, Eighteenth-Century_Fiction/fieldinh.01, Eighteenth-Century_Fiction/goldsmit.01, Eighteenth-Century_Fiction/haywood.01, Eighteenth-Century_Fiction/aubin.06, Eighteenth-Century_Fiction/fieldins.02, Eighteenth-Century_Fiction/davys.04, Eighteenth-Century_Fiction/richards.03, Eighteenth-Century_Fiction/haywood.13, Eighteenth-Century_Fiction/defoe.03, Eighteenth-Century_Fiction/smollett.01, Eighteenth-Century_Fiction/mackenzi.03, Eighteenth-Century_Fiction/richards.05, Eighteenth-Century_Fiction/fieldinh.04, Eighteenth-Century_Fiction/aubin.03, Eighteenth-Century_Fiction/smollett.03, Eighteenth-Century_Fiction/coventry.01, Eighteenth-Century_Fiction/manley.02, Eighteenth-Century_Fiction/smollett.06, Eighteenth-Century_Fiction/hawkeswo.01, Eighteenth-Century_Fiction/scott.01, Eighteenth-Century_Fiction/defoe.01, Eighteenth-Century_Fiction/aubin.02, Eighteenth-Century_Fiction/fieldinh.06, Eighteenth-Century_Fiction/barker.03, Eighteenth-Century_Fiction/smollett.02, Eighteenth-Century_Fiction/fieldinh.02, Eighteenth-Century_Fiction/richards.01, Eighteenth-Century_Fiction/manley.03, Eighteenth-Century_Fiction/haywood.06, Eighteenth-Century_Fiction/defoe.02, Eighteenth-Century_Fiction/scott.02, Eighteenth-Century_Fiction/haywood.02, Eighteenth-Century_Fiction/sterne.02, Eighteenth-Century_Fiction/swift.01, Eighteenth-Century_Fiction/haywood.15, Eighteenth-Century_Fiction/fieldinh.03, Eighteenth-Century_Fiction/davys.05, Eighteenth-Century_Fiction/barker.04, Eighteenth-Century_Fiction/aubin.07, Eighteenth-Century_Fiction/barker.02, Eighteenth-Century_Fiction/lennox.02, Eighteenth-Century_Fiction/aubin.01, Eighteenth-Century_Fiction/sterne.01, Eighteenth-Century_Fiction/davys.02, Eighteenth-Century_Fiction/graves.01, Eighteenth-Century_Fiction/johnson.01, Eighteenth-Century_Fiction/haywood.03, Eighteenth-Century_Fiction/richards.02, Eighteenth-Century_Fiction/mackenzi.02, Eighteenth-Century_Fiction/haywood.10, Eighteenth-Century_Fiction/sheridan.03, Eighteenth-Century_Fiction/aubin.04, Nineteenth-Century_Fiction/ncf0204.06, Nineteenth-Century_Fiction/ncf23608.01, Nineteenth-Century_Fiction/ncf22301.01, Nineteenth-Century_Fiction/ncf21101.02, Nineteenth-Century_Fiction/ncf3206.05, ...]

[1337 rows x 0 columns]

In [5]:
t=C.texts()[1]
t

None, _None_ (None) [Epistolary: _chadwyck/Eighteenth-Century_Fiction/richards.04]

In [10]:
t.source.meta

{'id': 'Eighteenth-Century_Fiction/richards.04'}

In [11]:
# !echo $PATH

In [2]:
class TextEpistolary(Text):

    def compile(self,lim=None,progress=True,force=False,*x,**y):
        ofn_ltrs = os.path.join(C.paths['path_letters'], t.corpus.id, t.id + '.csv')
        ofn_xml = os.path.join(C.paths['path_xml'], t.corpus.id, t.id + '.xml')
        ofn_txt = os.path.join(C.paths['path_txt'], t.corpus.id, t.id + '.txt')

        if not force and os.path.exists(ofn_ltrs):
            odf = read_df(ofn_ltrs)
            odf_anno=load_with_anno(ofn_ltrs)
            if len(odf_anno) and 'id' in set(odf_anno.columns):
                odf_anno=odf_anno.set_index('id')
                odf_anno=odf_anno[[col for col in odf_anno.columns if not col.startswith('id_')]]
                odx_anno=dict((idx, dict(row)) for idx,row in odf_anno.iterrows())

                newkeys=set(rowdk for idx,rowd in odx_anno.items() for rowdk in rowd)
                for nk in newkeys:
                    odf[nk]=[odx_anno.get(idx,{}).get(nk,'') for idx in odf.id]
            
            return fix_meta(odf)
            

        ol=[]
        #if force or not os.path.exists(ofn_ltrs) or not os.path.exists(ofn_xml) or not os.path.exists(ofn_txt):
        if not os.path.exists(os.path.dirname(ofn_xml)): os.makedirs(os.path.dirname(ofn_xml))
        if not os.path.exists(os.path.dirname(ofn_txt)): os.makedirs(os.path.dirname(ofn_txt))            
        if not os.path.exists(os.path.dirname(ofn_ltrs)): os.makedirs(os.path.dirname(ofn_ltrs))            
        
        tdf=epistolarized_chadwyck_t(C,t=t,lim=lim,progress=progress,*x,**y)
        if not len(tdf): return pd.DataFrame()

    
        todf=fix_meta(tdf)

        for pxml,txml in zip(tdf.path_xml,tdf.xml):
            if pxml and txml:
                with open(pxml,'w') as of: of.write(txml)
        for ptxt,ttxt in zip(tdf.path_txt,tdf.txt):
            if ptxt and ttxt:
                with open(ptxt,'w') as of: of.write(ttxt)

        for needcol in {'sender_tok','sender_id','recip_tok','recip_id','front','title_letter'}:
            if not needcol in set(todf.columns): todf[needcol]=''
        for badcol in {'txt','xml','path_txt','path_xml'} & set(todf.columns):
            todf=todf.drop(badcol,1)
        
        cols=[
            'id','id_corpus','id_text','id_letter','letter_i',
            'txt_head',
            'txt_front',
            'sender_tok',#'sender_id',
            'recip_tok',#'recip_id',
        ]
        odf_ltrs=todf[[c for c in cols if c in set(todf.columns)]].fillna('')
        save_df(fix_meta(odf_ltrs), ofn_ltrs, verbose=True)
        return odf_ltrs

        
    def compile_text_chars(self,t,tdf=None,force=False,force_inner=False,verbose=False,*x,**y):
        id_corpus=t.corpus.id
        id_text=t.id

        ofn_tok2id = os.path.join(self.path_chars, id_corpus, id_text, 'tok2id.csv')
        ofn_id2meta = os.path.join(self.path_chars, id_corpus, id_text, 'id2meta.csv')

        if force or not os.path.exists(ofn_tok2id):
            # get latest sender,recip data
            if tdf is None: tdf=self.compile_text(t,force=force_inner,*x,**y)
            odf_tok2id=calculate_tok2id(tdf.fillna(''))
            save_df(odf_tok2id, ofn_tok2id, verbose=verbose, index=False)
            if verbose: display(odf_tok2id)
        else:
            odf_tok2id=read_df(ofn_tok2id)
        
        # update with anno
        odf_tok2id_anno=load_with_anno(ofn_tok2id)
        if len(odf_tok2id_anno):
            d_tok2id_anno=dict(zip(odf_tok2id_anno.char_tok, odf_tok2id_anno.char_id)) if len(odf_tok2id_anno) else {}
            odf_tok2id['char_id']=[d_tok2id_anno.get(ctok,cid) for ctok,cid in zip(odf_tok2id.char_tok,odf_tok2id.char_id)]
        
        

        ## id2meta
        if force or not os.path.exists(ofn_id2meta):
            ## id2meta
            char_ids = Counter()
            for char_id,char_tok_count in zip(odf_tok2id.char_id, odf_tok2id.char_tok_count):
                char_ids[char_id]+=char_tok_count
            # init?
            id2meta_l=[]
            for char_id,char_id_count in char_ids.most_common():
                char_dx={'char_id':char_id, 'char_id_count':char_id_count, **chardata_metakeys_initial}
                id2meta_l.append(char_dx)
            odf_id2meta = pd.DataFrame(id2meta_l).fillna('')
            save_df(odf_id2meta, ofn_id2meta, verbose=verbose, index=False)
            if verbose: display(odf_id2meta)
        else:
            odf_id2meta=read_df(ofn_id2meta)

        # update with anno
        odf_id2meta=odf_id2meta.set_index('char_id')
        odf_id2meta_anno=load_with_anno(ofn_id2meta)
        if len(odf_id2meta_anno) and 'char_id' in set(odf_id2meta_anno.columns):
            odf_id2meta_anno=odf_id2meta_anno.fillna('').set_index('char_id')
            odf_id2meta_anno=odf_id2meta_anno[[col for col in odf_id2meta_anno if col not in {'char_id_count'}]]
            odf_id2meta.update(odf_id2meta_anno)
        odf_id2meta=odf_id2meta.reset_index()
        
        return odf_tok2id.fillna(''), odf_id2meta.fillna('')
        
    def get_letters(self,t,force=False,*x,**y):
        df_letters=self.compile_text(t,force=force,*x,**y)
        df_tok2id,df_id2meta=self.compile_text_chars(t,force=force,*x,**y)
        d_tok2id=dict(zip(df_tok2id.char_tok, df_tok2id.char_id))
        cols_id2meta_uniq=[col for col in df_id2meta if col not in set(df_letters.columns)]
        df_id2meta=df_id2meta[cols_id2meta_uniq]

        for sndr in ['sender','recip']:
            sidkey=f'{sndr}_id'
            df_letters[sidkey]=df_letters[f'{sndr}_tok'].apply(lambda stok: d_tok2id.get(stok,stok))
            senders = set(df_letters[sidkey])
            df_id2meta_now = df_id2meta[df_id2meta.char_id.isin(senders)]
            df_id2meta_now.columns=[col.replace('char_',f'{sndr}_') for col in df_id2meta.columns]
            if sidkey in set(df_id2meta_now.columns):
                df_letters = df_letters.merge(df_id2meta_now, how='left', on=sidkey)
            
        return df_letters


    def iter_letter_networks(self,t,dfletters=None,*x,**y):
        dfletters=self.get_letters(t,*x,**y) if dfletters is None else dfletters
        return iter_letter_networks_from_dfletters(dfletters,*x,**y)

    def get_letter_network(self,t,dfletters=None,*x,**y):
        dfletters=self.get_letters(t,*x,**y) if dfletters is None else dfletters
        return get_letter_network_from_dfletters(dfletters,*x,**y)

'??'

                                                 testing
id
Eighteenth-Century_Fiction/richards.02                 x
_chadwyck/Eighteenth-Century_Fiction/richards.04       y
_chadwyck/Eighteenth-Century_Fiction/burney.01

'!!'

Empty DataFrame
Columns: []
Index: [Eighteenth-Century_Fiction/richards.02, _chadwyck/Eighteenth-Century_Fiction/richards.04, _chadwyck/Eighteenth-Century_Fiction/burney.01]

Empty DataFrame
Columns: []
Index: [Eighteenth-Century_Fiction/richards.02, _chadwyck/Eighteenth-Century_Fiction/richards.04, _chadwyck/Eighteenth-Century_Fiction/burney.01]

In [3]:
idx='_chadwyck/Eighteenth-Century_Fiction/richards.04'

In [29]:
C = Epistolary()
C.init()
C.t.meta

{'id': '_chadwyck/Eighteenth-Century_Fiction/burney.01'}

In [37]:
t=C.t
t._meta

{'id': '_chadwyck/Eighteenth-Century_Fiction/burney.01'}

In [41]:
t.source.corpus.init_metadata()

AttributeError: 'Chadwyck' object has no attribute 'init_metadata'

In [21]:
# t.id, t.source.id

('_chadwyck/Eighteenth-Century_Fiction/richards.04',
 'Eighteenth-Century_Fiction/richards.04')

Richardson, Samuel, 1689-1761, _Pamela (1741)_ (1741) [_chadwyck/Eighteenth-Century_Fiction/richards.04]

In [9]:
t.meta

{'testing': 'x', 'id': 'Eighteenth-Century_Fiction/richards.02'}

In [13]:
t.source_text()

epistolary Eighteenth-Century_Fiction/richards.02 --> epistolary Eighteenth-Century_Fiction/richards.02

False

In [23]:
source_text(t)

,author,title,year,idref,pub,type,name,nation,medium,subcorpus,fn_raw,id_corpus,_id,id_text
id,,,,,,,,,,,,,,
Eighteenth-Century_Fiction/richards.01,"Richardson, Samuel, 1689-1761",Clarissa (1st ed.) (1748),1748,Z200044053,Printed for S. Richardson: [etc.],BOOK,Vol. 1,British,Fiction,Eighteenth-Century_Fiction,Eighteenth-Century_Fiction/richards.01.new,chadwyck,chadwyck|Eighteenth-Century_Fiction/richards.01,Eighteenth-Century_Fiction/richards.01

In [8]:
Chad=load('Chadwyck')
Chad.meta

Empty DataFrame
Columns: []
Index: []

In [43]:
# load_metadata_from_df_or_fn(meta, id_corpus_default='chad')
meta_final=pd.DataFrame([
    {'id_text':'Eighteenth-Century_Fiction/richards.01', 'final':'!', 'id_corpus':'chadwyck'},
])
load_metadata_from_df_or_fn(meta_final)
# meta_final

,id_text,final,id_corpus,id
_id,,,,
chadwyck|Eighteenth-Century_Fiction/richards.01,Eighteenth-Century_Fiction/richards.01,!,chadwyck,chadwyck|Eighteenth-Century_Fiction/richards.01

In [44]:
C = Epistolary()

,id,testing,id_text,id_corpus,final
_id,,,,,
Eighteenth-Century_Fiction/richards.02,Eighteenth-Century_Fiction/richards.02,x,Eighteenth-Century_Fiction/richards.02,,
chadwyck|chadwyck|Eighteenth-Century_Fiction/richards.04,chadwyck|Eighteenth-Century_Fiction/richards.04,y,Eighteenth-Century_Fiction/richards.04,chadwyck,
chadwyck|chadwyck|Eighteenth-Century_Fiction/burney.01,chadwyck|Eighteenth-Century_Fiction/burney.01,,Eighteenth-Century_Fiction/burney.01,chadwyck,

In [161]:
# load_metadata_from_df_or_fn(meta)

In [125]:
meta

                                                id        x
0  chadwyck|Eighteenth-Century_Fiction/richards.01    hello
1                                              NaN  goodbye

In [106]:
# meta.update??

In [107]:
init_metadata(Epistolary(),meta_init=meta,other_meta=[lltk.load('Chadwyck')])

'2'

Empty DataFrame
Columns: []
Index: [chadwyck|Eighteenth-Century_Fiction/richards.01, chadwyck|Eighteenth-Century_Fiction/richards.04, chadwyck|Eighteenth-Century_Fiction/burney.01]

'2'

                                                       x
id
chadwyck|Eighteenth-Century_Fiction/richards.01    hello
X0002                                            goodbye

                                                     x
id
chadwyck|Eighteenth-Century_Fiction/richards.01  hello
chadwyck|Eighteenth-Century_Fiction/richards.04
chadwyck|Eighteenth-Century_Fiction/burney.01

    id        x
0   X1    hello
1  NaN  goodbye

'/Users/ryan/lltk_data/corpora/epistolary/metadata.csv'

In [27]:
C=Epistolary()
C.init_metadata()

0       chadwyck|chadwyck|Eighteenth-Century_Fiction/p...
1       chadwyck|chadwyck|Eighteenth-Century_Fiction/b...
2       chadwyck|chadwyck|Eighteenth-Century_Fiction/m...
3       chadwyck|chadwyck|Eighteenth-Century_Fiction/c...
4       chadwyck|chadwyck|Eighteenth-Century_Fiction/h...
                              ...
1332    chadwyck|chadwyck|Early_English_Prose_Fiction/...
1333    chadwyck|chadwyck|Early_English_Prose_Fiction/...
1334    chadwyck|chadwyck|Early_English_Prose_Fiction/...
1335    chadwyck|chadwyck|Early_English_Prose_Fiction/...
1336    chadwyck|chadwyck|Early_English_Prose_Fiction/...
Name: id, Length: 1337, dtype: object

0       chadwyck|chadwyck|Eighteenth-Century_Fiction/p...
1       chadwyck|chadwyck|Eighteenth-Century_Fiction/b...
2       chadwyck|chadwyck|Eighteenth-Century_Fiction/m...
3       chadwyck|chadwyck|Eighteenth-Century_Fiction/c...
4       chadwyck|chadwyck|Eighteenth-Century_Fiction/h...
                              ...
1332    chadwyck|chadwyck|Early_English_Prose_Fiction/...
1333    chadwyck|chadwyck|Early_English_Prose_Fiction/...
1334    chadwyck|chadwyck|Early_English_Prose_Fiction/...
1335    chadwyck|chadwyck|Early_English_Prose_Fiction/...
1336    chadwyck|chadwyck|Early_English_Prose_Fiction/...
Name: id, Length: 1337, dtype: object

NameError: name 'meta_chad' is not defined

In [26]:
C.path_metadata_init

'/Users/ryan/lltk_data/corpora/epistolary2/metadata_init.csv'

In [25]:
C.load_metadata()

Empty DataFrame
Columns: []
Index: []

In [19]:
C=Epistolary()

In [20]:
C.texts

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
clary = get_clarissa()
clary = SourceTextEpistolary(clary, hello='x!?')

x!?
Cool! {'id': 'Eighteenth-Century_Fiction/richards.01', 'author': 'Richardson, Samuel, 1689-1761', 'title': 'Clarissa (1st ed.) (1748)', 'year': 1748.0, 'idref': 'Z200044053', 'pub': 'Printed for S. Richardson: [etc.]', 'type': 'BOOK', 'name': 'Vol. 1', 'nation': 'British', 'medium': 'Fiction', 'subcorpus': 'Eighteenth-Century_Fiction', 'fn_raw': 'Eighteenth-Century_Fiction/richards.01.new', 'path_freqs': '/Users/ryan/lltk_data/corpora/chadwyck/freqs/Eighteenth-Century_Fiction/richards.01.json', 'path_txt': '/Users/ryan/lltk_data/corpora/chadwyck/txt/Eighteenth-Century_Fiction/richards.01.txt', 'path_xml': '/Users/ryan/lltk_data/corpora/chadwyck/xml/Eighteenth-Century_Fiction/richards.01.new', '_year_orig': '1748'}

x!?
Cool! {'id': 'Eighteenth-Century_Fiction/richards.01', 'author': 'Richardson, Samuel, 1689-1761', 'title': 'Clarissa (1st ed.) (1748)', 'year': 1748.0, 'idref': 'Z200044053', 'pub': 'Printed for S. Richardson: [etc.]', 'type': 'BOOK', 'name': 'Vol. 1', 'nation': 'British', 'medium': 'Fiction', 'subcorpus': 'Eighteenth-Century_Fiction', 'fn_raw': 'Eighteenth-Century_Fiction/richards.01.new', 'path_freqs': '/Users/ryan/lltk_data/corpora/chadwyck/freqs/Eighteenth-Century_Fiction/richards.01.json', 'path_txt': '/Users/ryan/lltk_data/corpora/chadwyck/txt/Eighteenth-Century_Fiction/richards.01.txt', 'path_xml': '/Users/ryan/lltk_data/corpora/chadwyck/xml/Eighteenth-Century_Fiction/richards.01.new', '_year_orig': '1748'}

[__main__.SourceTextEpistolaryCls,
 Richardson, Samuel, 1689-1761, _Clarissa (1st ed.) (1748)_ (1748.0) [Chadwyck: Eighteenth-Century_Fiction/richards.01]]

TypeError: 'NoneType' object is not callable